# Temporary Visual Studio solution/project files
*.suo
*.sdf
*.user
*.opensdf

# Temporary build files
*.dll
*.lib
*.exe
*.tlog
*.log
*.lastbuildstate
*.obj
*.idb
*.pdb
*.ilk
*.exp
*.unsuccessfulbuild